.Header {
    display: grid;
    grid-template-areas: ". nav . logo .";
    margin-top: 20px;
}

.Nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
    display: block;
}

.Logo {
    grid-area: logo;
    justify-self: center;
}

.DropDown {
    display: none;
}

@media (max-width: 530px) {
    .Header {
        grid-template-areas: ". drop . logo .";
    }
    .Nav {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: none;
        align-content: center;
        justify-content: center;
        display: none;
    }
    .DropDown {
        grid-area: drop;
        display: block;
        align-self: center;
        justify-self: center;
    }

.DropDiv {
    position: relative;
}

.DropMenu {
    position: absolute;
}

}