@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Medium'), url(./assets/fonts/Roboto-Medium.ttf);
}

:root{
  --clr-primary: #497174;
  --clr-secondary: #D6E4E5;
  --clr-alert: #EFF5F5;
  --clr-hover: #EB6440;

}

body{
  background-color: var(--clr-primary);
  font-family: 'Roboto';
  color: var(--clr-alert);
  text-align: center;
  
}

.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: 
  "header header header header"
  "body body body body"
  "footer footer footer footer";
}

@media (max-width: 735px) {
  .App {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header header"
    "body body body body"
    "footer footer footer footer";
  }
}